//! Springboard CSS http://www.springboardcss.com/

// Math Sass
// @use 'mathsass/dist/functions/pow'
// Imports the base variable styles
@use './themes/squared/theme';

@use './plugins/modularscale/index.scss' with (
  $ms: theme.$modularscale
);

@use './plugins/root/plugin' as root;


// Generic styles for things like <body>, <a> and others
// It also overwrites normalize.css a bit
@use './plugins/generic/plugin' as generic;

@use 'breakpoint-sass/stylesheets/breakpoint';

// Normalize.css (external library)
@use './plugins/normalize/plugin' as normalize;

@use './plugins/fontello/plugin' as fontello;

// Simple elements
@use './plugins/label/plugin' as label with (
  $radius: theme.$radius,
  $primary: theme.$primary,
  $white: theme.$white,
  $success: theme.$success,
  $warning: theme.$warning,
  $error: theme.$error
);

@use './plugins/button/plugin' as button with (
  $radius: theme.$radius
);

// Forms
@use './plugins/input/plugin' as input with (
  $primary: theme.$primary,
  $radius: theme.$radius,
  $transition: theme.$transition, 
);

@use './plugins/select/plugin' as select;
 
@use './plugins/radio/plugin' as radio;
@use './plugins/checkbox/plugin' as checkbox;

// Components
@use './plugins/table/plugin' as table;
@use './plugins/grid/plugin' as grid;

// Extra
@use './plugins/nav/plugin' as nav;

@use './plugins/stack/plugin' as stack;
@use './plugins/card/plugin';
@use './plugins/modal/plugin' as modal;

// @use './plugins/dropimage/plugin';
@use './plugins/tabs/plugin' as tabs;
@use './plugins/tooltip/plugin' as tooltip;
