// Top level variables for BBQ CSS
// Note: some others are available under each specific plugin

@import 'colors';


// Colors (from /themes/default/colors)
$bbq-white: #fff;
$bbq-black: #111;
$bbq-primary: darken($green, 5%);
$bbq-success: $blue;
$bbq-warning: $orange;
$bbq-error: $red;
$bbq-dull: $gray;
$bbq-color-variation: 10%;
$bbq-transparency: .1;


// Spaces
$bbq-separation: .6em;
$bbq-breakpoint: 60em;


// Shapes
$bbq-radius: 0;
$bbq-border: 1px solid #ddd;
$bbq-shadow: none;


// Transitions
$bbq-transition: all .2s ease;





// Plugins
$bbq-nav-position: absolute;
