// Top level variables for Picnic CSS
// Note: some others are available under each specific plugin

@import 'colors';


// Colors (from /themes/default/colors)
$bbq-white: #fff !default;
$bbq-black: #111 !default;
$bbq-primary: $blue !default;
$bbq-success: $green !default;
$bbq-warning: $orange !default;
$bbq-error: $red !default;
$bbq-dull: $gray !default;
$bbq-color-variation: 10% !default;
$bbq-transparency: .2 !default;


// Spaces
$bbq-separation: .6em !default;
$bbq-breakpoint: 60em !default;


// Shapes
$bbq-radius: .2em !default;
$bbq-border: 1px solid #ccc !default;
$bbq-shadow: 0 0 .2em rgba($bbq-black, $bbq-transparency) !default;

// Transitions
$bbq-transition: all .3s;
